* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imageButton {
    width: 72px;
    height: 72px;
}

.selectionShapeSelect{
    filter: sepia(0.80);
}

.selectionActionSelect{
    filter: sepia(0.80);
}

.hex {
    position: absolute;
    z-index: 5;
}

.overlay {
    position: absolute;
    z-index: 7;
    pointer-events: none;
    opacity: 0%;
}

.toggle-button-wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
}

.mouseover {
    opacity: 0.25;
}

.selected {
    filter: sepia(0.20);
    opacity: 0.50;
}

.outer-container {
    padding: 12px;
    position: relative;
    display: inline-block;
}

.inner-container {
    padding: 0px;
    position: relative;
    display: inline-block;    
}

.fa-inplace {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
}

#hexCanvas {
    position:absolute;
}

.selection {
    opacity: 33%;
}

#hexgrid {

}

.passthrough {
    pointer-events: none;
}